body{
    background-color: azure;
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: #340af2;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 30px;
}

.header_div p{
font-size: 12px;
letter-spacing: 2px;
font-weight: bold;
}

.main_div{
    background-color:aquamarine ;
    padding: 10px;
}

.header_div{
    background-color: azure;
}

.main_div button{
    margin-top: 30px;
    font-family:'Oswald', sans-serif;
    letter-spacing: 2px;
    width: 130px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
   background-color: #9c7762;
   text-align: center;
   line-height: 3;
   color: darkblue;
   font-weight: bold;
}